<section class="section">
  <h1 class="header-services">Services</h1>
  <a class="under-header-text"
    >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna</a
  >
  <mat-accordion multi [displayMode]="mode">
    <mat-expansion-panel class="mat-panel" style="border-radius: 5px">
      <mat-expansion-panel-header>
        <mat-panel-title class="title-text"
          ><img
            src="..\..\..\assets\services-icon-statistics.png"
            style="
              width: 18px;
              height: 11px;
              margin-top: 3px;
              margin-right: 25px;
            "
          />
          <a>STATISTICS</a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container-body">
        <p class="container-text">
          <img
            src="..\..\..\assets\services-statistics.png"
            style="
              width: 255px;
              height: 155px;
              float: left;
              margin-right: 12px;
              margin-bottom: 12px;
            "
          />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-panel" style="border-radius: 5px">
      <mat-expansion-panel-header>
        <mat-panel-title class="title-text"
          ><img
            src="..\..\..\assets\services-icon-inbox.png"
            style="
              width: 18px;
              height: 14px;
              margin-top: 3px;
              margin-right: 25px;
            "
          />
          <a>INBOX</a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container-body">
        <p class="container-text">
          <img
            src="..\..\..\assets\services-statistics.png"
            style="
              width: 255px;
              height: 155px;
              float: left;
              margin-right: 12px;
              margin-bottom: 12px;
            "
          />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-panel" style="border-radius: 5px">
      <mat-expansion-panel-header>
        <mat-panel-title class="title-text"
          ><img
            src="..\..\..\assets\services-icon-team.png"
            style="
              width: 20px;
              height: 12px;
              margin-top: 3px;
              margin-right: 25px;
            "
          />
          <a>TEAM</a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container-body">
        <p class="container-text">
          <img
            src="..\..\..\assets\services-statistics.png"
            style="
              width: 255px;
              height: 155px;
              float: left;
              margin-right: 12px;
              margin-bottom: 12px;
            "
          />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-panel" style="border-radius: 5px">
      <mat-expansion-panel-header>
        <mat-panel-title class="title-text"
          ><img
            src="..\..\..\assets\services-icon-settings.png"
            style="
              width: 18px;
              height: 18px;
              margin-top: 3px;
              margin-right: 25px;
            "
          />
          <a>SETTINGS</a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container-body">
        <p class="container-text">
          <img
            src="..\..\..\assets\services-statistics.png"
            style="
              width: 255px;
              height: 155px;
              float: left;
              margin-right: 12px;
              margin-bottom: 12px;
            "
          />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-panel" style="border-radius: 5px">
      <mat-expansion-panel-header>
        <mat-panel-title class="title-text"
          ><img
            src="..\..\..\assets\services-icon-feed.png"
            style="
              width: 14px;
              height: 14px;
              margin-top: 3px;
              margin-right: 25px;
            "
          />
          <a>FEED</a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container-body">
        <p class="container-text">
          <img
            src="..\..\..\assets\services-statistics.png"
            style="
              width: 255px;
              height: 155px;
              float: left;
              margin-right: 12px;
              margin-bottom: 12px;
            "
          />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
