<section class="BG-nav-bar">
  <div class="toolbar-wrapper">
    <div>
      <img routerLink="/" class="logo-img" src="..\..\..\..\assets\logo.png" alt="logo">
      <img routerLink="/" class="logo-img" src="..\..\..\..\assets\title-logo.png" alt="title logo" style="padding-left: 1em;">
    </div>
  
    <div class="nav-bar-middle">
      <a routerLink="/" class="nav-bar-menu">Home</a>
      <a routerLink="services" class="nav-bar-menu">Service</a>
      <a routerLink="ourTeam" class="nav-bar-menu">Extension</a>
      <a routerLink="/" class="nav-bar-menu">Pricing</a>
      <a class="nav-bar-menu">Help</a>
    </div>
  
    <div>
      <button mat-stroked-button class="sign-up" type="submit" 
      style="padding-right: 4.4em;">sign up</button>
    </div>
    
  </div>
 </section>