:host {
  flex: 1;
}

.toolbar-wrapper {
  z-index: 0;
  display: flex;
  flex: 1;
  align-items: center;
  height: 90px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
}

.BG-nav-bar {
  padding-top: 2em;
  display: flex;
  width: 100%;
  height: fit-content;
  background-image: url(..\..\..\..\assets\bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar-middle {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-evenly;
  min-width: 35%;
}

.logo-img {
  cursor: pointer;
}

.nav-bar-menu {
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: white;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  &:hover {
    border-color: black;
    color: black;
  }
}

.sign-up {
  background-color: transparent;
  border-color: white;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: white;
  height: 25px;
  width: 80px;
  cursor: pointer;
  transition-duration: 0.4s;
  line-height: 1.6px;

  &:hover {
    background-color: transparent;
    border-color: black;
    color: black;
  }
}

@media (max-width: 1068px) {
  .nav-bar-middle {
    min-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .toolbar-wrapper {
    justify-content: center;
  }
  .BG-nav-bar {
    padding-bottom: 4em;
  }
  .nav-bar-menu {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

@media (max-width: 441px) {
  .BG-nav-bar {
    padding-bottom: 7em;
  }
}