<section class="BGheader">
  <div class="toolbar-wrapper">
    <div>
      <img src="..\..\..\..\assets\logo.png" alt="logo">
      <img src="..\..\..\..\assets\title-logo.png" alt="title logo" style="padding-left: 1em;">
    </div>
  
    <div>
      <a class="nav-bar-menu">Home</a>
      <a class="nav-bar-menu">Service</a>
      <a class="nav-bar-menu">Extension</a>
      <a class="nav-bar-menu">Pricing</a>
      <a class="nav-bar-menu">Help</a>
    </div>
  
    <div>
      <button mat-stroked-button class="sign-up" type="submit">sign up</button>
    </div>
  </div>
 
</section>