<div class="mainOurTeam">
  <div class="titleText">Our Team</div>
  <div class="shadeText">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. exercitationem non
    molestiae ipsum,
    <div>repellendus impedit cupiditate minima.</div>
  </div>
  <div class="imgWrapper">
    <img
      src="../../../assets/img/womanImg2.png"
      alt="womanImg"
      class="shadeImg personImg"
    />
    <div class="activImgWrapper">
      <img
        src="../../../assets/img/womanImg.png"
        alt="womanImg2"
        class="activImg personImg"
      />
    </div>
    <img
      src="../../../assets/img/manInGlasses.png"
      alt="manInGlasses"
      class="shadeImg personImg"
    />
  </div>
  <div class="textBold">Sobhie Turner</div>
  <div class="simpleText">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
    veniam. Nam reiciendis

    <div>
      quod molestias qui nisi fugit, nemo Commodi aliquid dolorum possimus natus
    </div>
    temporibus molestiae cum numquam ipsa
  </div>
  <div class="socialWrapper">
    <img src="../../../assets/img/twitter.png" alt="" class="socialImag" />
    <img src="../../../assets/img/faceboock.png" alt="" class="socialImag" />
    <img src="../../../assets/img/instagramm.png" alt="" class="socialImag" />
    <img src="../../../assets/img/dribbble.png" alt="" class="socialImag" />
    <img src="../../../assets/img/behance.png" alt="" class="socialImag" />
  </div>
  <app-contact-form></app-contact-form>
</div>
