<div class="footerWrapper">
  <div class="upperPart parts">
    <div class="logo" routerLink="/">
      <img src="../../../../assets/logo.png" alt="logo" class="ringLogo" />
      <img
        src="../../../../assets/title-logo.png"
        alt="title-logo"
        class="imgTextLogo"
      />
    </div>
    <div class="miniNavBar">
      <div class="navLinc" routerLink="/">Home</div>
      <div class="navLinc" routerLink="services">Service</div>
      <div class="navLinc" routerLink="ourTeam">About Us</div>
      <div class="navLinc">Pricing</div>
      <div class="navLinc">Help</div>
    </div>
  </div>
  <div class="lowerPart parts">
    <ul class="privicyPolisy">
      <li class="firstLi"><span>Privicy Polisy</span></li>
      <li><span>About Us</span></li>
      <li><span>About Us</span></li>
    </ul>
    <div class="socialWrapper">
      <img
        src="../../../../assets/img/faceboock.png"
        alt="faceboock"
        class="socialImg"
      />
      <img
        src="../../../../assets/img/twitter.png"
        alt="twitter"
        class="socialImg"
      />
      <img
        src="../../../../assets/img/instagramm.png"
        alt="instagramm"
        class="socialImg"
      />
      <img
        src="../../../../assets/img/dribbble.png"
        alt="dribbble"
        class="socialImg"
      />
      <img
        src="../../../../assets/img/behance.png"
        alt="behance"
        class="socialImg"
      />
    </div>
  </div>
</div>
