<div class="footerWrapper">
  <div class="topSide">
    <div class="logo">
      <img src="../../../../assets/logo.png" alt="logo" class="ringLogo" />
      <img
        src="../../../../assets/title-logo.png"
        alt="title-logo"
        class="imgTextLogo"
      />
    </div>
    <div class="miniNavBar">
      <div class="navLinc">Home</div>
      <div class="navLinc">Service</div>
      <div class="navLinc">About Us</div>
      <div class="navLinc">Pricing</div>
      <div class="navLinc">Help</div>
    </div>
  </div>
</div>
