<div class="contactUsWraper">
  <div class="contactUsTitle">CONTACT US</div>
  <div class="simpleText">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci tenetur
    incidunt consequuntur a iure autem.
  </div>
  <form class="formWraper">
    <input type="text" class="inputShort" id="Name" />
    <label class="labelInputShort" for="Name">Name</label>
    <input type="text" class="inputShort" placeholder="Last Name" />
    <input type="email" class="inputShort" placeholder="Email" />
    <input type="number" class="inputShort" placeholder="Numder" />
    <input type="text" class="imputLarge" placeholder="Mesage" />
    <label> <input type="checkbox" /> subscribe to the newslitter </label>
    <button>Send</button>
  </form>
</div>
