<div class="contactUsWraper">
  <div class="contactUsTitle">CONTACT US</div>
  <div class="simpleText">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci tenetur
    incidunt consequuntur a iure autem.
  </div>
  <form class="formWraper">
    <input type="text" class="inputShort" placeholder="Name" />
    <input type="text" class="inputShort" placeholder="Last Name" />
    <input type="email" class="inputShort" placeholder="Email" />
    <input type="number" class="inputShort" placeholder="Numder" />
    <textarea type="text" class="imputLarge" placeholder="Mesage"></textarea>
    <div class="footerForm">
      <mat-checkbox>subscribe to the newslitter</mat-checkbox>
      <button class="buttonSend">SEND</button>
    </div>
  </form>
</div>
